/* ============================ SECTION CUSTOMERS ============================ */
.section-customers {
  @extend %section;
  &__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  &__header {
    @extend %second-header;
  }
  &__customers-list {
    padding: inherit;
  }
}

.customers-list {
  @extend %lists;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 450px;
  padding: 0;
  &__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 210px;
    height: 92px;
    margin-top: 30px;
  }
  &__link {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 16px 32px;
    fill: rgb(175, 177, 184);
    border: 1px solid rgb(175, 177, 184);
    border-radius: 3px;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--main-color);
      border: 1px solid var(--main-color);
      outline: none;
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
@media screen and (min-width: 480px) {
  .customers-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .customers-list {
    max-width: 738px;
    &__element {
      width: 226px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    max-width: 1170px;
    width: inherit;

    &__element {
      width: 170px;
    }
  }
}

/* ============== END SECTION CUSTOMERS ============= */
