/* ============================ Mobile menu ===================== */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--logo-white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
  & .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(33, 33, 33, 1);
    &:focus,
    &:hover {
      color: var(--main-color);
    }
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  &__item {
    &:not(:first-of-type) {
      margin-top: 32px;
    }
  }
  &__link {
    display: block;
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    line-height: var(--line-height-small);
    letter-spacing: 0.02em;
    text-align: left;
    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }
}
.mobile-adress {
  @extend %lists;
  margin-top: 302px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;

  &__item {
    &:first-of-type {
      margin-bottom: 32px;
    }
  }
  &__link {
    @extend %links;
    color: var(--nav-second-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-align: left;
    &--blue {
      color: var(--main-color);
      font-size: 34px;
      line-height: var(--line-height-small);
    }
  }
}
.mobile-social {
  @extend %lists;
  display: flex;
  flex-wrap: wrap;
  &__item {
    &:not(:first-of-type) {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    @extend %links;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.222;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--main-color);
  }
}
/* ======================= End Mobile menu ================== */
