/* ============================= LOGO ===========================*/
.logo {
  @extend %links;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  color: var(--main-color);
  outline: none;
  &--white-theme {
    color: var(--logo-dark-color);
  }
  &--dark-theme {
    color: var(--logo-white-color);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
/* ======================= END LOGO ======================*/
