/* ========================== Social Links ================== */
.social-list {
 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  &__item{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    &:not(:first-of-type){
      margin-left: 10px;
    }
  }
  &__link{
     display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

    &:hover, &:focus{
       background-color: rgba(33, 150, 243, 1);
       fill: rgba(255, 255, 255, 1);
    }
  }
  &__link--dark-theme{
    fill: var(--logo-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    &:hover, &:focus{
      fill: var(--logo-white-color);
      background-color: var(--main-color);
    }
  }
}
/* ==================== END SOCIAL Links ======== */